# 미스터리 사인
주어진 수를 보고 규칙을 찾는 문제

## Question1
   큰수+두 수의 차
   22?7=35

###  데이터 만들기

In [76]:
list1=[]
for i in range(1,200): # 첫 번째 숫자의 범위
    for j in range(1,200): # 두 번쨰 숫자의 범위
        result = (i+(i-j)) if i > j else (j+(j-i))
        list1.append([i,j,result])

### 데이터 전처리

In [77]:
import pandas as pd
data1 = pd.DataFrame(list1, columns = ['N1', 'N2', 'Result'])
data1.head()

   N1  N2  Result
0   1   1       1
1   1   2       3
2   1   3       5
3   1   4       7
4   1   5       9

### 문제와 정답분석

In [78]:
x=data1.loc[:, ['N1', 'N2']]
y=data1.loc[:,'Result']

### 머신러닝 모델 불러오기

In [79]:
from sklearn.ensemble import RandomForestRegressor

In [80]:
rf= RandomForestRegressor()

### 모델 사용하기(학습)
규칙찾기

In [81]:
rf.fit(x,y)

RandomForestRegressor()

### 모델 사용하기(예측)

In [82]:
rf.predict([ [22, 7] ])

array([36.99])

## Question 2
(큰수/ 작은 수)의 나머지
4?19=3

### 데이터 만들기

In [83]:
list2=[]
for a in range(1,200):
    for b in range(1,200):
        result=(a%b) if a>b else (b%a)
        list2.append([a,b,result])

### 데이터 전처리

In [84]:
import pandas as pd
data2 = pd.DataFrame(list2, columns = ['N1', 'N2', 'Result'])
data2.head()

   N1  N2  Result
0   1   1       0
1   1   2       0
2   1   3       0
3   1   4       0
4   1   5       0

### 문제와 정답 분리

In [85]:
x=data2.loc[:, ['N1', 'N2']]
y=data2.loc[:,'Result']

### 머신러닝 모델 불러오기

In [86]:
from sklearn.ensemble import RandomForestRegressor

In [87]:
rf= RandomForestRegressor()

### 모델 사용하기 (학습)

In [88]:
rf.fit(x,y)

RandomForestRegressor()

### 모델 사용하기(예측)

In [89]:
rf.predict([ [4, 19] ])

array([2.61])